@media screen and (max-width:480px){
    input#search-input {
        padding-left: 45px;
        width: 152px;
        height: 34px;
      
    }
    .middle-top-section{
        display: block;
    }
    .left-middle-section{
        margin-left: 0;
    }
    .team-section-details{
        margin-bottom: 0;
    }
    .available-img img {
        width: 100%;
    }
    .music-market-detail{
        border-right: 1px solid #0a6596;
    }    
    .music-market-details{
        border-left: 1px solid #0a6596;
    }
    .inv-price {
        padding: 0 20px;
    }
}


